<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory name="foo">
 
    <property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:orcl</property>
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="connection.username">test1</property>
    <property name="hibernate.connection.password">test1</property>
    
  <!-- 配置方言 -->
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <mapping resource="hbmxml/User.hbm.xml" />
    <mapping resource="hbmxml/Detail.hbm.xml" />
    <mapping resource="hbmxml/UserOrder.hbm.xml" />
  </session-factory>
</hibernate-configuration>